/* for SideBar */
.songPlaying {
    background-color: pink;
    color: white;
}
.track-list li {
    padding: 5px;
    cursor: pointer;
    
}

.track-list li:hover{
    background-color: aqua;
}
/* Highlight the currently playing song */
.highlight {
    background-color: pink;
    color: blue;
   
}